*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.container{
	width: 1050px;
	height: 1050px;
	margin: 100px auto;
	background: gray;
	color: black;
	border: 2px solid black;
}
.chess-board{
	position: relative;
	background: #FFF;
	width: 1000px;
	height: 1000px;
	margin: 25px;
	color: #fff;
	font-size: 30px;
	line-height: 100px;
	text-align: center;
}
.cell{
	position: absolute;
	background: black;
	height: 100px;
	width: 100px;
}
.border{
	text-align: center;
	background: gray;
	color: #FFF;
	font-size: 30px;
	line-height: 100px;
}
.row:not(:first-child):not(:last-child){
	height: 20%;
	position: relative;
}

.row:not(:first-child):not(:last-child) .cell:nth-child(odd){
		top:50%;
}
/*border____________*/
.row:not(:last-child) .cell:first-child{
	height: 200px;
}
.row:not(:first-child):not(:last-child) .cell:last-child{
	height: 200px;
}
.row:first-child, .row:last-child{
	height: 10%;
	position: relative;
}
/*--------------*/
/* checkers-------------------------------------------*/
.row:not(:first-child):nth-child(-n+3) .cell:not(:first-child):not(:last-child):before{
	content: " ";
	position: absolute;
	height:75px;
	width: 75px;
	margin: 12.5px;
	background: white;
	border-radius: 50%;
	top: 0;
	left:0;
}
.row:not(:last-child):nth-child(n+4) .cell:not(:first-child):not(:last-child):before{
	content: " ";
	position: absolute;
	z-index: 1;
	height:75px;
	width: 75px;
	margin: 12.5px;
	background: gray;
	border-radius: 50%;
	top: 0;
	left:0;
}
/* no checkers ^_^-------------------------------------------*/

.row:nth-child(3) .cell:not(:first-child):not(:last-child):nth-child(odd):before{
		content: " ";
		position: absolute;
		z-index: 2;
		height:75px;
		width: 75px;
		margin: 12.5px;
		background: black;
		border-radius: 50%;
}
.row:nth-child(4) .cell:not(:first-child):not(:last-child):nth-child(even):before{
		content: " ";
		position: absolute;
		z-index: 2;
		height:75px;
		width: 75px;
		margin: 12.5px;
		background: black;
		border-radius: 50%;
}
/* -------------------------------------------*/



.two{
	top: inherit;
	left:10%;
}
.three{
	top: inherit;
	left:20%;
}
.four{
	top: inherit;
	left:30%;
}
.five{
	top: inherit;
	left:40%;
}
.six{
	top: inherit;
	left:50%;
}
.seven{
	top: inherit;
	left:60%;
}
.eight{
	top: inherit;
	left:70%;
}
.nine{
	top: inherit;
	left:80%;
}
.ten{
	top: inherit;
	left:90%;
}
